/* Reset CSS */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap');

/* Colors */
:root {
    --bg-color: #F7EADC;
    --bg-color-light: #FFFCF6;
    --primary-color: #EC755D;
    --secondary-color: #74B6BD;
    --text-color: #2D2D2D;
}

/* Fonts */
body {
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6, p, a, li, span, input, button, textarea {
    font-family: 'Poppins', sans-serif;
}

/* Global Style */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    width: 500px;
}

header {
    background-color: var(--primary-color);
    color: #FFF;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    margin-bottom: 1.5em;
}

section {
    background-color: var(--bg-color-light);
    border-radius: 1em;
    padding: 2em;
}

section h2 {
    font-weight: 500;
}

.balance p {
    margin: 3px;
}

.balance p:first-child {
    font-size: 0.8em;
}

.balance-value {
    font-size: 2em;
}

.days {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.percent {
    background-color: #EC755D;
    height: 150px;
    width: 3.5em;
    border-radius: 0.35em;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75em;
}

hr {
    opacity: 0.35;;
}

.ligth-text, .day {
    color: #808080;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 2em;
}

.expanse-value {
    font-size: 2.75em;
    margin: 0;
    font-weight: 500;
}

.compare  {
    text-align: right;
}

.from-last-month, .ligth-text {
    margin: 0;
}
